In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
crash_data = Path("Crash_Data.csv")

In [2]:
crash_data_df = pd.read_csv(crash_data)

crash_data_df

C:\Users\royip\AppData\Local\Temp\ipykernel_5380\3984295512.py:1: DtypeWarning: Columns (10,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  crash_data_df = pd.read_csv(crash_data)

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20212133,Vic,9,2021,Sunday,0:30,Single,NaN,NaN,NaN,...,38,Inner Regional Australia,Melbourne - Outer East,Yarra Ranges (S),Arterial Road,No,No,26_to_39,Weekend,Night
1,20214022,SA,9,2021,Saturday,23:31,Multiple,No,No,No,...,28,Major Cities of Australia,Adelaide - North,Playford (C),NaN,No,No,26_to_39,Weekend,Night
2,20212096,Vic,9,2021,Saturday,23:00,Single,NaN,NaN,NaN,...,19,Inner Regional Australia,Hume,Wangaratta (RC),Access road,No,No,17_to_25,Weekend,Night
3,20212145,Vic,9,2021,Saturday,22:25,Single,NaN,NaN,NaN,...,23,Outer Regional Australia,Hume,Wangaratta (RC),Arterial Road,No,No,17_to_25,Weekend,Night
4,20212075,Vic,9,2021,Saturday,5:15,Single,NaN,NaN,NaN,...,46,Major Cities of Australia,Melbourne - South East,Casey (C),Local Road,No,No,40_to_64,Weekend,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52838,19891246,NSW,1,1989,Wednesday,17:05,Single,Yes,NaN,No,...,5,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekday,Day
52839,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,19,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52840,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52841,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52842,19896063,Tas,1,1989,Tuesday,12:40,Multiple,No,NaN,No,...,63,NaN,NaN,NaN,NaN,No,No,40_to_64,Weekday,Day

In [3]:
cleaned_crash_data_df = crash_data_df[["State", "Month", "Year", "Time", "Dayweek", "Day of week", "Time of day", "Road User", "Gender", "Age Group", "Christmas Period", "Easter Period"]]

cleaned_crash_data_df

,State,Month,Year,Time,Dayweek,Day of week,Time of day,Road User,Gender,Age Group,Christmas Period,Easter Period
0,Vic,9,2021,0:30,Sunday,Weekend,Night,Motorcycle rider,Male,26_to_39,No,No
1,SA,9,2021,23:31,Saturday,Weekend,Night,Pedestrian,Female,26_to_39,No,No
2,Vic,9,2021,23:00,Saturday,Weekend,Night,Passenger,Male,17_to_25,No,No
3,Vic,9,2021,22:25,Saturday,Weekend,Night,Driver,Male,17_to_25,No,No
4,Vic,9,2021,5:15,Saturday,Weekend,Night,Motorcycle rider,Male,40_to_64,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
52838,NSW,1,1989,17:05,Wednesday,Weekday,Day,Passenger,Female,0_to_16,No,No
52839,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52840,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52841,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52842,Tas,1,1989,12:40,Tuesday,Weekday,Day,Passenger,Female,40_to_64,No,No

In [4]:
cleaned_crash_data_1_df = cleaned_crash_data_df.dropna(how="any") 

cleaned_crash_data_1_df

,State,Month,Year,Time,Dayweek,Day of week,Time of day,Road User,Gender,Age Group,Christmas Period,Easter Period
0,Vic,9,2021,0:30,Sunday,Weekend,Night,Motorcycle rider,Male,26_to_39,No,No
1,SA,9,2021,23:31,Saturday,Weekend,Night,Pedestrian,Female,26_to_39,No,No
2,Vic,9,2021,23:00,Saturday,Weekend,Night,Passenger,Male,17_to_25,No,No
3,Vic,9,2021,22:25,Saturday,Weekend,Night,Driver,Male,17_to_25,No,No
4,Vic,9,2021,5:15,Saturday,Weekend,Night,Motorcycle rider,Male,40_to_64,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
52838,NSW,1,1989,17:05,Wednesday,Weekday,Day,Passenger,Female,0_to_16,No,No
52839,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52840,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52841,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52842,Tas,1,1989,12:40,Tuesday,Weekday,Day,Passenger,Female,40_to_64,No,No

In [5]:
# The following is the first dataset to use

cleaned_crash_data_1_df['State'] = cleaned_crash_data_1_df['State'].replace({"Vic": "VIC", "Qld": "QLD", "Tas": "TAS"})

cleaned_crash_data_1_df

C:\Users\royip\AppData\Local\Temp\ipykernel_5380\1402608149.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_crash_data_1_df['State'] = cleaned_crash_data_1_df['State'].replace({"Vic": "VIC", "Qld": "QLD", "Tas": "TAS"})

,State,Month,Year,Time,Dayweek,Day of week,Time of day,Road User,Gender,Age Group,Christmas Period,Easter Period
0,VIC,9,2021,0:30,Sunday,Weekend,Night,Motorcycle rider,Male,26_to_39,No,No
1,SA,9,2021,23:31,Saturday,Weekend,Night,Pedestrian,Female,26_to_39,No,No
2,VIC,9,2021,23:00,Saturday,Weekend,Night,Passenger,Male,17_to_25,No,No
3,VIC,9,2021,22:25,Saturday,Weekend,Night,Driver,Male,17_to_25,No,No
4,VIC,9,2021,5:15,Saturday,Weekend,Night,Motorcycle rider,Male,40_to_64,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
52838,NSW,1,1989,17:05,Wednesday,Weekday,Day,Passenger,Female,0_to_16,No,No
52839,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52840,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52841,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52842,TAS,1,1989,12:40,Tuesday,Weekday,Day,Passenger,Female,40_to_64,No,No

In [6]:
cleaned_crash_data_2_df = crash_data_df[["State", "Month", "Year", "Time", "Dayweek", "Day of week", "Time of day", "Road User", "Gender", "Age Group", "National Road Type", "Christmas Period", "Easter Period"]]

cleaned_crash_data_2_df

,State,Month,Year,Time,Dayweek,Day of week,Time of day,Road User,Gender,Age Group,National Road Type,Christmas Period,Easter Period
0,Vic,9,2021,0:30,Sunday,Weekend,Night,Motorcycle rider,Male,26_to_39,Arterial Road,No,No
1,SA,9,2021,23:31,Saturday,Weekend,Night,Pedestrian,Female,26_to_39,NaN,No,No
2,Vic,9,2021,23:00,Saturday,Weekend,Night,Passenger,Male,17_to_25,Access road,No,No
3,Vic,9,2021,22:25,Saturday,Weekend,Night,Driver,Male,17_to_25,Arterial Road,No,No
4,Vic,9,2021,5:15,Saturday,Weekend,Night,Motorcycle rider,Male,40_to_64,Local Road,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52838,NSW,1,1989,17:05,Wednesday,Weekday,Day,Passenger,Female,0_to_16,NaN,No,No
52839,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,NaN,Yes,No
52840,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,NaN,Yes,No
52841,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,NaN,Yes,No
52842,Tas,1,1989,12:40,Tuesday,Weekday,Day,Passenger,Female,40_to_64,NaN,No,No

In [7]:
cleaned_crash_data_2_df = cleaned_crash_data_df.dropna(how="any") 

cleaned_crash_data_2_df

,State,Month,Year,Time,Dayweek,Day of week,Time of day,Road User,Gender,Age Group,Christmas Period,Easter Period
0,Vic,9,2021,0:30,Sunday,Weekend,Night,Motorcycle rider,Male,26_to_39,No,No
1,SA,9,2021,23:31,Saturday,Weekend,Night,Pedestrian,Female,26_to_39,No,No
2,Vic,9,2021,23:00,Saturday,Weekend,Night,Passenger,Male,17_to_25,No,No
3,Vic,9,2021,22:25,Saturday,Weekend,Night,Driver,Male,17_to_25,No,No
4,Vic,9,2021,5:15,Saturday,Weekend,Night,Motorcycle rider,Male,40_to_64,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
52838,NSW,1,1989,17:05,Wednesday,Weekday,Day,Passenger,Female,0_to_16,No,No
52839,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52840,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52841,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52842,Tas,1,1989,12:40,Tuesday,Weekday,Day,Passenger,Female,40_to_64,No,No

In [8]:
# The following is the second dataset to use

cleaned_crash_data_2_df['State'] = cleaned_crash_data_2_df['State'].replace({"Vic": "VIC", "Qld": "QLD", "Tas": "TAS"})

cleaned_crash_data_2_df

C:\Users\royip\AppData\Local\Temp\ipykernel_5380\3670578941.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_crash_data_2_df['State'] = cleaned_crash_data_2_df['State'].replace({"Vic": "VIC", "Qld": "QLD", "Tas": "TAS"})

,State,Month,Year,Time,Dayweek,Day of week,Time of day,Road User,Gender,Age Group,Christmas Period,Easter Period
0,VIC,9,2021,0:30,Sunday,Weekend,Night,Motorcycle rider,Male,26_to_39,No,No
1,SA,9,2021,23:31,Saturday,Weekend,Night,Pedestrian,Female,26_to_39,No,No
2,VIC,9,2021,23:00,Saturday,Weekend,Night,Passenger,Male,17_to_25,No,No
3,VIC,9,2021,22:25,Saturday,Weekend,Night,Driver,Male,17_to_25,No,No
4,VIC,9,2021,5:15,Saturday,Weekend,Night,Motorcycle rider,Male,40_to_64,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
52838,NSW,1,1989,17:05,Wednesday,Weekday,Day,Passenger,Female,0_to_16,No,No
52839,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52840,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52841,WA,1,1989,6:00,Monday,Weekday,Day,Passenger,Male,17_to_25,Yes,No
52842,TAS,1,1989,12:40,Tuesday,Weekday,Day,Passenger,Female,40_to_64,No,No

In [9]:
cleaned_crash_data_1_df.groupby(["Year"]).size()

Year
1989    2790
1990    2327
1991    2107
1992    1967
1993    1945
1994    1926
1995    2006
1996    1966
1997    1756
1998    1738
1999    1755
2000    1816
2001    1732
2002    1712
2003    1615
2004    1581
2005    1617
2006    1595
2007    1601
2008    1434
2009    1488
2010    1351
2011    1275
2012    1298
2013    1186
2014    1148
2015    1204
2016    1292
2017    1222
2018    1129
2019    1186
2020    1089
2021     840
dtype: int64

In [10]:
cleaned_crash_data_1_df.groupby(["Age Group"]).size()

Age Group
0_to_16         4060
17_to_25       13753
26_to_39       12354
40_to_64       13406
65_to_74        4012
75_or_older     5109
dtype: int64